@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

html,
body,
#root,
.app{
  height: 100%;
  width: 100%;
  font-family: 'Inter', sans-serif;
  /* background-color:   #d3d4de,
   #a6a9be,#eb9a6a,
   #7a7f9d,
   #4d547d,
   #21295c,
   #191F45, 
   #141937,
   #0d1025,
   #070812,#218070,; */
}
::-webkit-scrollbar{
  width: 10px;
}

/* track */
::-webkit-scrollbar-track{
  background: #7a7f9d;
}
/* handle */
::-webkit-scrollbar-thumb{
  background: #21295c;
}

/* handle on hover */
::-webkit-scrollbar-track:hover{
  background: #21295c;
}